/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
	width: 1100px;
	margin: 0 auto;
}
header{
	display: flex;
	align-items: center;
	height: 100px;
	margin: 10px 0 60px 0;
}
nav{
  display: flex;
}
nav > a{
	margin-left: 83.5px;
	color: #b7b7b7;
	text-decoration: none;
	font-size: 18px;
}
nav a:first-child{
	margin-left: 0;
}
.logo{
	width: 230px;
  margin: -5px 0 0 96px;
}
.banner{
	display: flex;
	justify-content: space-between;
}
h1{
	font-size: 100px;
	text-align: center;
	margin-bottom: 0;
}
h2{
	font-size: 33px;
	line-height: 1.3;
}
h3{
	font-size: 21px;
}
address, p{
	font-size: 20px;
	line-height: 1.2;
}
span{
    display: block;
    margin: -5px 0;
}
.banner{
	padding-bottom: 50px;
}
.banner-right{
	width: 548px;
}
.banner-right img{
	margin-left: 78px;
	width: 470px;
}
.button-home{
	width: 220px;
	background: white;
	border: 1px solid black;
	padding: 4px 20px;
	font-size: 22px;
	margin-left: 130px;
	font-family: 'Titillium Web', sans-serif;
}
.banner-left{
	margin-left: 50px;
	width: 498px;
	margin-top: 70px;
}
.main{
	padding: 50px 0;
	margin: 50px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.main-about{
	display: flex;
	justify-content: space-between;
}
.middle-img{
	width: 100%;
	margin: 40px 0;
}
.main-services{
	display: flex;
	justify-content: space-between;
}
.services, .product, .vision{
	width: 364px;
}
.contact{
	margin-bottom: 70px;
}
footer{
	text-align: center;
	margin-bottom: 140px;
}
footer p{
	font-size: 17px;
}

@media screen and (max-width:800px) and (min-width: 501px){
  .container{
    max-width: 800px;
    width: 100%;
  }
  header{
    flex-direction: column-reverse;
    height: 145px;
  }
  .logo{
    margin: 0 0 50px 0;
  }
  nav{
    flex-wrap: wrap;
  }
  nav a{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 70px;
  }
  .banner{
    flex-direction: column;
    margin-top: 88px;
  }
  .banner-left{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .banner-right{
    display: none;
  }
   h1{
    font-size: 90px;
  }
  .button-home{
    margin: 13px 0 45px 0;
    width: 210px;
    padding: 3px 0px;
    font-size: 21px;
    font-weight: bolder;
  }
  .main{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .main, .contact{
    max-width: 750px;
    margin: 0 auto;
  }
  .features{
    margin-left: 15px;
  }
  .about{
    margin-right: 15px;
  }
  .services, .product, .vision{
    margin: 0 15px;
  }
  .features, .about{
    width: 450px;
  }
  h3{
    line-height: 1.5;
  }
  p{
    line-height: 1.2;
  }
  .contact{
    margin: 35px 0 0 35px;
  }
  footer{
    margin: 55px 0 22px 0;
  }
  footer p{
    font-size: 20px;
  }
}

@media screen and (max-width:500px) {
  .container{
    width: 100%;
  }
  header{
    flex-direction: column-reverse;
    height: 545px;
  }
  .logo{
    margin: 0;
    max-width: 229px;
  }
  nav{
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  nav a{
    font-size: 25px;
    border-top: 1px solid black;
    margin-left: 0;
    font-weight: bolder;
  }
  a{
    padding: 25px 0;
  }
  nav a:last-child{
    border-bottom: 1px solid black;
  }
  .banner{
    flex-direction: column;
    text-align: center;
  }
  .banner-left{
    width: 100%;
    margin: 0 auto;
  }
  .banner-right{
    display: none;
  }
  h1{
    font-size: 90px;
  }
  .button-home{
    margin: 13px 0 45px 0;
    width: 210px;
    padding: 3px 0px;
    font-size: 21px;
    font-weight: bolder;
  }
  .main-about, .main-services{
    flex-direction: column;
  }
  .features, .about, .services, .product, .vision, .container, .contact{
    max-width: 500px;
  }
  .main{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  .main, .contact{
    max-width: 455px;
    margin: 0 auto;
    padding: 45px 0;
  }
  .services, .product, .vision{
    width: 100%;
  }
  .services, .product{
    margin-bottom: 70px;
  }
  .features, .about{
    margin: 25px 0;
  }
  h3{
    line-height: 1.5;
  }
  p{
    line-height: 1.1;
  }
  footer{
    margin-bottom: 25px;
  }
  footer p{
    font-size: 20px;
  }
}
